/* mainPage.css */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.welcomeImage {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  opacity: 0.85;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.welcomeImage:hover {
  opacity: 1;
  transform: scale(1.05);
}

.textContainer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  border-radius: 20px;
  box-shadow: 8px 8px #ffbf0a;
  max-width: 600px;
  width: 100%;
}

.titleText {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.titleSubtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.exploreButton {
  background-color: #18a59d !important;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.exploreButton:hover {
  background-color: #147f77;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 400px) {
  .mainContainer {
    padding: 10px;
  }

  .titleText {
    font-size: 2rem;
  }

  .titleSubtitle {
    font-size: 1rem;
  }

  .exploreButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .textContainer {
    padding: 15px;
  }

  .welcomeImage {
    max-width: 100%;
  }
}
