.mainContainer {
  position: relative; /* To position child elements absolutely */
  width: 100%;
  max-width: max-content;
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Ensure no overflow */
  height: 80vh;
  z-index: 1;
}

.imageContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: none !important;
}

.welcomeImage {
  width: 100%;
}

.textContainer {
  position: absolute; /* Absolute positioning to overlap the image */
  top: 20%; /* Adjust to control the overlap */
  left: 50%;
  transform: translateX(-50%);
  background-color: white; /* Semi-transparent background */
  padding: 20px;
  max-width: 1200px;
  width: 80%; /* Use 80% of available width */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center-align the text */
}

.titleText {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.titleSubtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.exploreButton {
  background-color: #18a59d !important;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding-top: 30px;
}

.exploreButton:hover {
  background-color: #147f77;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 400px) {
  .textContainer {
    padding: 15px;
    width: 90%; /* Adjust for smaller screens */
  }

  .titleText {
    font-size: 2rem;
  }

  .titleSubtitle {
    font-size: 1rem;
  }

  .exploreButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .welcomeImage {
    max-width: 100%;
  }
}
