/* header.css */

.appBar {
  background-color: #18a59d !important;
  /* border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%; */
  /* box-shadow: 0px 8px #ffbf0a !important; */
  padding: 0px 5px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 115px;
  padding: 0px;
}

.nav_buttons {
  display: flex;
  gap: 20px; /* Add spacing between buttons */
}

.navButton {
  color: white;
  text-transform: none;
}

.buttonText {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .buttonText {
    padding: 10px;
    font-size: 1.8rem;
  }

  .nav_buttons {
    gap: 1px; /* Add spacing between buttons */
  }

  .logo {
    display: none;
  }
}

@media (max-width: 400px) {
  .buttonText {
    padding: 10px;
    font-size: 1.2rem;
  }

  .nav_buttons {
    gap: 1px; /* Add spacing between buttons */
  }

  .logo {
    display: none;
  }
}
